/* .row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.bg-primary {
background-color: aqua !important;
height: 100px;
    width: 100px;
}

.bg-secondary {
    background-color: red !important;
    height: 100px;
    width: 100px;
}

.column {
    display: flex;
    flex-direction: column;
   justify-content: flex-end;
} */
 .